<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>后台管理系统</title>

  <!--icheck-->
  <link href="js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="js/morris-chart/morris.css">

  <!--common-->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>

    <div id="appindex">
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo" style="padding-top:10px">
                <a href="toIndex" >后台管理系统</a>
            </div>

            <!--logo and iconic logo end-->

            <div class="left-side-inner">
                <!-- visible to small devices only -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media logged-user">
                        <img alt="" src="images/photos/user-avatar.png" class="media-object">
                        <div class="media-body">
                            <h4><a href="#">{{admin.tname}}</a></h4>
                            <span>"Hello There..."</span>
                        </div>
                    </div>

                    <h5 class="left-nav-title">Account Information</h5>
                    <ul class="nav nav-pills nav-stacked custom-nav">
                        <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                    </ul>
                </div>
                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="active"><a href="toIndex"><i class="fa fa-home"></i> <span>首页</span></a></li>
                    <li v-if="admin.role=='管理员'" class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>系统设置</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="javascript:;" @click="toskip('toSiteEdit',$event)"> 网站设置</a></li>
                            <li><a href="javascript:;" @click="toskip('toMemberList',$event)"> 用户管理</a></li>
                        </ul>
                    </li>
                    <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>业务管理</span></a>
                        <ul class="sub-menu-list">
                            <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toImgadvList',$event)"> 焦点图管理</a></li>
                            <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toNewsList',$event)"> 公告管理</a></li>
                            <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toCostEdit',$event)"> 价格管理</a></li>
                            <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toCategoryList',$event)"> 区域管理</a></li>
                            <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toCarportList',$event)"> 车位管理</a></li>
                            <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toStoprecordList',$event)"> 停车记录</a></li>
                            <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toMessageList',$event)"> 留言管理</a></li>

                        </ul>
                    </li>

                    <li v-if="admin.role=='管理员'" class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>统计管理</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="javascript:;" @click="toskip('toTj',$event)"> 统计分析</a></li>
                        </ul>
                    </li>

                </ul>
                <!--sidebar nav end-->

            </div>
        </div>
        <div class="main-content" >

            <!-- header section start-->
            <div class="header-section">

                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
                <!--toggle button end-->


                <!--notification menu start -->
                <div class="menu-right">
                    <ul class="notification-menu">
                        <li>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img :src="['../upload/'+admin.filename]" alt="" />
                                {{admin.tname}}（{{admin.role}}）
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li v-if="admin.role=='管理员'"><a href="javascript:;" @click="toskip('toEditUser',$event)"><i class="fa fa-user"></i>  个人信息</a></li>
                                <li><a href="javascript:;" @click="toskip('toEditUpass',$event)"><i class="fa fa-cog"></i>  修改密码</a></li>
                                <li><a href="javascript:;" @click="logout"><i class="fa fa-sign-out"></i> 注销</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!--notification menu end -->

            </div>

            <div class="wrapper" >

                <iframe class="J_iframe" name="iframe0" id="iframe0" width="100%" height="600px" src="toMain"
                        frameborder="0" data-id="toMain" seamless></iframe>

            </div>

        </div>
    </div>
</section>



<script type="text/javascript" src="../axios/vue.js"></script>
<script type="text/javascript" src="../axios/axios.min.js"></script>
<script type="text/javascript" src="../axios/qs.js"></script>
<script type="text/javascript" src="../axios/getUrlParams.js"></script>
<script type="text/javascript" src="../axios/element_ui.js"></script>

<script type="text/javascript">

    var qs = Qs
    var vueindex = new Vue({
        el: "#appindex",
        data: {
            admin:{},
        },

        // updated() {
        //     this.$nextTick(function () {
        //         var sc = document.createElement("script");
        //         sc.src = "js/scripts.js";
        //         $("body").append(sc);
        //     })
        // },
        created(){
            this.getadmin()
        },
        methods: {

            toskip(url,e){
                $("#iframe0").attr("src", url + "?ranparam=" + Math.random());
            },
            getadmin() {
                axios.post('user/checkLogin', qs.stringify({
                })).then(res => {
                    if (res.data.status == 111) {
                        location.replace("login")
                    } else {
                        this.admin = res.data.data
                    }

                }).catch(error => {
                })
            },
            logout() {
                axios.post('user/loginout', qs.stringify({
                })).then(res => {
                    location.replace("login")
                }).catch(error => {
                })
            },

        }
    })


</script>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="js/easypiechart/jquery.easypiechart.js"></script>
<script src="js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="js/sparkline/jquery.sparkline.js"></script>
<script src="js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="js/iCheck/jquery.icheck.js"></script>
<script src="js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="js/flot-chart/jquery.flot.js"></script>
<script src="js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="js/morris-chart/morris.js"></script>
<script src="js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="js/calendar/clndr.js"></script>
<script src="js/calendar/evnt.calendar.init.js"></script>
<script src="js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="js/dashboard-chart-init.js"></script>





<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="网站模板">模板之家</a>
	<a href="https://www.chazidian.com/"  title="查字典">查字典</a>
</div>
</body>
</html>
